<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.khit.web.mapper.UserMapper">
	<insert id="insert">
		insert into users(userid, userpasswd, username, userage)
		values(#{userId}, #{userPasswd}, #{userName}, #{userAge})
	</insert>
	
	<insert id="updateuser">
	   update users  set userpasswd=#{userPasswd}, username= #{userName}, 
	   userage=#{userAge}  where id = #{id}
	</insert>
	<insert id="delete">
	  delete from users where id =${id}
	 
	</insert>
	
	<select id="findAll" resultType="com.khit.web.dto.UserDTO" >
		select * from users
	</select>
	
	<select id="findById" resultType="com.khit.web.dto.UserDTO">
		select * from users where id = #{id}
	</select>
	
	<select id="findByUserId" resultType="com.khit.web.dto.UserDTO">
		select * from users where userid = #{userId}
	</select>
	
	<select id="login" resultType="com.khit.web.dto.UserDTO">
		select * from users 
		where userid = #{userId} and userpasswd = #{userPasswd}
	</select>
</mapper> 